*~
\#*
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
data.txt
__pycache__
commandCOM10
commandCOM4
commandCOM6
commandCOM7
*.sw[p]
.DS_Store
__pycache__/
commandCOM11
commandCOM12
commandCOM18
commandCOM17
commandCOM21
commandCOM22
commandCOM26

